project_id = "vouchdirk"
vouch_tag = "1.8.0"
vouch_mem = "1.5Gi"

regions = {
  northamerica-northeast1 = { cidr = "10.108.0.0/20" }
  us-west1 = { cidr = "10.128.0.0/20" }
  us-central1 = { cidr = "10.138.0.0/20" }
  us-east1 = { cidr = "10.148.0.0/20" }
  us-south1 = { cidr = "10.158.0.0/20" }
}

# Compute configuration
compute_size = "e2-small"
compute_image = "debian-cloud/debian-12"
default_tags = ["ssh"]

hostname_prefix = "lido-vouchdirk"

compute = {
  # dirk1 should always have a proxy installed so it can be used in an ssh tunnel for kubectl
  # it should also be in the same region as the GKE cluster.
  dirk1 = { region = "us-east1", zone = "b", extra_tags = ["firewall-dirk","firewall-exiter"], hostname="a", metadata_startup_script = <<EOF
#! /bin/bash
apt-get update
apt-get install -y tinyproxy
grep -qxF 'Allow localhost' /etc/tinyproxy/tinyproxy.conf || echo 'Allow localhost' >> /etc/tinyproxy/tinyproxy.conf
systemctl restart tinyproxy
EOF
  }
  dirk2 = { region = "northamerica-northeast1", zone = "b", extra_tags = ["firewall-dirk"], hostname="b", metadata_startup_script="" }
  dirk3 = { region = "us-central1", zone = "c", extra_tags = ["firewall-dirk"], hostname="c", metadata_startup_script="" }
  dirk4 = { region = "us-west1", zone = "a", extra_tags = ["firewall-dirk"], hostname="d", metadata_startup_script="" }
  dirk5 = { region = "us-south1", zone = "c", extra_tags = ["firewall-dirk"], hostname="e", metadata_startup_script="" }
}

# GKE configuration
gke = {
  lido = { region = "us-east1", cidr = "10.100.0.0/20" }
}

ssh_user = "debian"
# The naming convention matters: For key.pem, you need key.pem.pub so that terraform works
ssh_pub_key = "/path/to/key.pem.pub"
ssh_private_key = "/path/to/key.pem"

# If extra arguments are needed for the ssh command to connect to dirk1 (e.g: going through a Jump host, they can be added here).
ssh_command = "gcloud compute ssh {data['ssh_user']}@{data['instance']} --project {data['project']} --zone {data['zone']} --ssh-key-file {data['ssh_private_key']} -- -L {port}:localhost:8888 -N -q -f"

# Cloudflare is used to set the DNS records and generate LetsEncrypt ssl certs for the mev-boost service.
acme_email = "user@example.com"
cf_api_token = "APITOKEN"
cf_domain = "example.com"

mev_subdomain = "mev-vouchdirk"

ssh_in_addresses = ["0.0.0.0/0"]
vouch_https_in_addresses = ["0.0.0.0/0"]
exiter_https_in_addresses = ["0.0.0.0/0"]
